.results-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.new-game-button {
  height: 50px;
}

.new-game-button, .submit-score {
  min-width: 150px;
  padding: 4%;
  margin-bottom: 10%;
  transition: .2s ease all;
}
