@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
  background-color: #17002E;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

header > h2 {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exit {
  margin-top: 1%;
  cursor: pointer;
}



button {
  background-color: #0F70BD;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  padding: 1%;
  cursor: pointer;
  /* min-height: 50px; */
}

button:hover {
  background-color: #ffffff;
  color: #0F70BD;
}
