main {
  background-color: #17002E;
  color: #ffffff;
}

header > h2 {
  margin: 0;
}

button {
  background-color: #0F70BD;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  padding: 1%;
}

button:hover {
  background-color: #ffffff;
  color: #0F70BD;
}
