select {
  background-color: #0F70BD;
  border: none;
  color: white;
  width: 30%;
  text-indent: 50%;
  font-size: 22px;
  min-width: 285px;
  height: 47px;
  border-radius: 7px;
  border: none;
  outline: none;
  padding: 1px;
  cursor: pointer;
}

.in-correct {
  margin: 10px 0;
}

.selector-bg {
  display: grid;
  place-items: center;
  margin: 5% 0;
  background: white;
  width: 30%;
  height: 90px;
  min-width: 338px;
  border-radius: 10px;
}

.categories-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7%;
}

.start-game, .nav-button {
  min-width: 200px;
  min-height: 50px;
  margin-top: 5%;
  transition: .2s ease all;
}

.nav-button {
  margin: 15% 0;
}

.correct, .incorrect {
  color: white;
}

.hidden {
  display: none;
}


@media screen and (max-width: 500px) {
  select {
    min-width: 180px;
  }

  .selector-bg {
    min-width: 220px;
  }

  .tagline {
    text-align: center;
    padding: 5px;
  }
}
