footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background: #0F70BD;
  text-align: center;
  border-top: 8px solid white;
}

footer * {
  margin: 0;
}


ul {
  padding: 0;
}

.gh-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
}

.gh-links * {
  cursor: pointer;
  transition: .2s ease all;
}

li button {
  padding: 10px;
  font-size: 16px;
}

.gh-links li:hover {
  transform: translateY(-5px);
}
