.question {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  text-align: center;
}

.answer-choices {
  display: flex;
  justify-content: space-evenly;
}

.answer-choices * {
  color: black;
}

.question-value {
  font-size: 2em;
}

.answer-choices *:hover {
  color: black;
  filter: brightness(1.25);
}

.answer-choices button:nth-of-type(1) {
  background: #ADE700;
}

.answer-choices button:nth-of-type(2){
  background: #E7AD00;
}

.answer-choices button:nth-of-type(3) {
  background: #E75DC2;
}

.answer-choices button:nth-of-type(4) {
  background: #00D8E7;
}

@media screen and (max-width: 1350px) {
  .answer-choices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1.5em;
  }
}
