h2, article {
  color: white;
}

.past-game-card {
  border: 2px solid red; 
  height: 500px;
  width: 500px;
  background-color: white;
  color: black;
}

.date {
  color: black;


}

.id {
  color: black;

}

.questions {
  color: black;
  

}

.score {
  color: black;

}