.tiles {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 2em;
  padding: 2em;
}

/* .tiles {
  transform: rotate(90deg);
} */

@media screen and (max-width: 450px) {
  .tiles {
    display: table;
    table-layout: auto;
  }
}
