.past-game-card {
  border: 2px solid black; 
  height: 500px;
  width: 500px;
  background-color: white;
  color: black;
}

.date {
  color: black;


}

.id {
  color: black;

}

.questions {
  color: black;
  

}

.score {
  color: black;

}

.back-button {
  min-width: 200px;
  min-height: 30px;
  margin-top: 5%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}