.answer-button {
  font-size: 1.5em;
  height: 200px;
  width: 200px;
  margin: 3%;
  cursor: pointer;
  transition: .2s ease all;
}

@media screen and (max-width: 1000px) {
  .answer-button {
    width: 100px;
    height: 100px;
    font-size: 0.9rem;
  }
}
